* {
  box-sizing: border-box;
}

body {
  background-color: @base-color;
  color: @base-text-color;
}

a {
  color: @base-text-color;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  font-size: .8em;
  line-height: .6;
}