sitemap.xml
*.log
wp-config.php
/node_modules/
wordpress/wp-content/backupwordpress-*-backups/
wordpress/wp-content/cache/
wordpress/wp-content/uploads/
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/wp-cache-config.php
