.author {
  min-height: 220px;

  & + & {
    margin-top: 2em;
  }

  &_link {
    display: block;
    outline: none;
    padding-left: 220px;
    position: relative;
    text-decoration: none;
  }

  &_link:hover &_title,
  &_link:focus &_title {
    text-decoration: underline;
  }

  &_title {
    margin-top: 0;
  }

  &_image {
    background-color: white;
    box-shadow: 0px 0px .2rem #E8E8E8;
    left: 0;
    margin-top: -.3rem;
    padding: .3rem;
    position: absolute;
    top: 0;
  }

  &_bio {
    margin-left: 220px;
  }

  &_block-headline {
    font-size: 1.8rem;
    margin-top: 2rem;
  }

  &--full {
    position: relative;
  }

  &_contact {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      font-weight: bold;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &_contact-item {
    display: inline-block;
  }

  &_contact-item--block {
    display: block;
    padding: .3rem 0;
  }

  &_contact-item--margin-bottom {
    margin-bottom: 1rem;
  }

  &_contact-domain {
    color: #777;
    font-weight: normal;
  }

  &_service-icon {
    margin-right: .2rem;
    vertical-align: middle;
    width: 20px;
  }
}