.author {
  &_list {
    list-style: none;
    margin: 0;
  }

  &_image {
    display: inline-block;
    height: 150px;
    vertical-align: top;
    width: 150px;
  }

  &_data {
    display: inline-block;
    margin-left: 2em;
    width: 48em;
    vertical-align: top;
  }

  &_title {
    font-family: Georgia;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 .3em 0;
  }

  & + & {
    border-top: 1px solid lighten( @base-color, 5% );
    margin-top: 1em;
    padding-top: 1em;
  }
}