.author {
  &_list {
    border-top: 1px solid lighten( @base-color, 5% );
    list-style: none;
    margin: 0;
    padding: 2em 0 0 0;
  }

  &_image {
    display: inline-block;
    vertical-align: top;
  }

  &_data {
    display: inline-block;
    margin-left: 2em;
    width: 42em;
    vertical-align: top;
  }

  &_title {
    font-family: Georgia;
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 .5em 0;
  }

  & + & {
    margin-top: 2em;
  }
}