.header {
  height: 8em;
  position: relative;

  > .app_content-limiter {
    height: 100%;
    position: relative;
  }

  &_logo {
    bottom: -7px;
    left: -120px;
    position: absolute;
  }

  &_logo > a {
    display: block;
  }

  &_logo-image {
    display: block;
    height: 135px;
  }

  &_menu {
    list-style: none;
    margin: 5.9em 0 0 0;
    padding: 0;
    float: right;
  }

  &_menu > li {
    display: inline-block;
  }

  &_menu > li > a {
    font-family: @font-family-serif;
    font-size: 1.3em;
    margin: 0 .5em;
    padding: .6em .4em .3em .4em;
  }

  &_menu > .current-menu-item > a {
    border-bottom: 2px solid @base-text-color;
  }
}