.page {
  &,
  a {
    color: #555;
  }

  &_headline {
    font-family: "Open Sans";
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 0;
    padding-top: 0;
  }

  &_headline + &_authors {
    margin-top: -.85rem;
  }

  &_image {
    font-size: 0;
    line-height: 1;
    margin-bottom: 2rem;

    img {
      height: auto;
      max-width: 100%;
      width: 100%;
    }
  }

  &_excerpt {
    font-weight: bold;
  }

  &_pubdate {
    display: inline-block;
    margin: 0;
  }

  &_publications {
    line-height: 1.4;
    margin-bottom: 2.5rem;
    max-width: 42rem;
  }

  &_authors {
    margin-left: .1rem;

    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  /* VIDEO */

  &_video {
    background-color: #303030;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    height: 44.7rem;
    position: relative;

    iframe {
      display: none;
    }
  }

  &_video + &_text {
    margin-top: 2rem;
  }

  &_video-overlay-content {
    background-image: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.8));
    padding-bottom: 2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-shadow: 0px 0px 2px #0A0A0A;
    transform: translateX(-50%);
    width: 100%;
  }

  &_video-overlay-content &_headline,
  &_video-overlay-content &_excerpt {
    width: 60rem;
  }

  &_video-play-button {
    display: block;
    margin: 0 auto 2rem auto;
    opacity: .5;
    transition: opacity .4s;
    width: 18rem;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  &_video &_headline {
    color: white;
    margin-bottom: 0;
  }

  &_video &_authors a {
    color: white;
  }

  &_video &_excerpt {
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 200;

    > p {
      margin: .5rem 0 2rem 0;
    }
  }
}
