.page {
  background-color: #F7F7F7;

  &,
  a {
    color: #555;
  }

  &_headline {
    margin-top: 0;
    padding-top: 0;
  }

  &_headline + &_authors {
    margin-top: -1rem;
  }

  &_authors {
    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
    }
  }
}