.post {
  background-color: darken( @base-color, 20% );
  float: left;
  height: 26.6666em;
  margin: 0 1em 1em 0;
  overflow: hidden;
  width: 19em;

  > a {
    display: block;
  }

  & > a:hover &_image,
  & > a:focus &_image {
    transition: transform .6s ease;
    transform: scale( 1.1 );
  }

  & > a:hover &_headline {
    text-decoration: underline;
  }

  &_meta {
    padding: 1em;
  }

  &_image,
  &_image-wrap {
    height: 203px;
    width: 100%;
  }

  &_image-wrap {
    overflow: hidden;
  }

  &_excerpt {
    font-family: @font-family-serif;
    font-size: .95em;

    > p {
      margin: 0;
    }
  }

  &_headline {
    font-family: @font-family-sansserif;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: .4em;

    > a:hover,
    > a:focus {
      text-decoration: underline;
    }
  }

  &--featured {
    position: relative;
    width: 39em;
  }

  &--featured &_meta {
    background-color: rgba( red( darken( @base-color, 20% ) ),
                            green( darken( @base-color, 20% ) ),
                            blue( darken( @base-color, 20% ) ), .85 );
    bottom: 0;
    left: 0;
    padding-bottom: 1em;
    position: absolute;
    width: 100%;
  }

  &--featured &_headline {
    border-bottom: none;
    font-size: 1.7em;
    margin-bottom: .2em;
    padding-bottom: 0;
  }

  &--featured &_image,
  &--featured &_image-wrap {
    height: 100%;
  }
}