.post-featured() {
  .post {
    position: relative;

    &_headline {
      border-bottom: none;
      color: white;
      font-size: 2rem;
      margin: 0 0 .5rem 0;
      padding: 0;
      text-shadow: 0 0 1px @base-text-color;
    }

    &_meta {
      background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .8));
      bottom: 0;
      color: white;
      font-weight: 400;
      left: 0;
      padding: 0 2rem 1rem 2rem;
      position: absolute;
      text-shadow: 0 0 2px @base-text-color;
      width: 100%;
    }

    &_excerpt {
      max-width: none;
    }

    &_image-wrap {
      height: 100%;
    }
  }
}
